<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/users">{{:: 'users' | translate}}</a></li>
        <li>{{user.username}}</li>
    </ol>

    <kc-tabs-user></kc-tabs-user>

    <form class="form-horizontal" name="enrollmentForm" novalidate>

        <!--         Add Hanko Authenticator App-->
        <fieldset class="border-top">
            <legend><span class="text">Add Hanko Authenticator</span></legend>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="addAuthenticator">Generate QR Code</label>

                <div class="col-md-6">
                    <button class="btn btn-default" type="submit" id="addAuthenticator" data-ng-disabled="lastUafRequest.status === 'PENDING'" data-ng-click="addAuthenticator(auth.user, user, realm)">Generate</button>
                </div>
            </div>
            <div data-ng-show="lastUafRequest" class="form-group clearfix">
                <label class="col-md-2 control-label" for="cancelAddAuthenticator">Cancel pending request</label>

                <div class="col-md-6">
                    <button data-ng-disabled="lastUafRequest.status !== 'PENDING'" class="btn btn-default" type="submit" id="cancelAddAuthenticator" data-ng-click="cancelAddAuthenticator(auth.user, user, realm)">Cancel</button>
                </div>
            </div>
            <div data-ng-show="lastUafRequest.status === 'PENDING'" class="form-group clearfix">
                <label class="col-md-2 control-label" for="qrCode">QR Code</label>

                <div class="col-md-6">
                    <img ng-src="{{lastUafRequestQrCodeLink}}" id="qrCode">
                </div>
            </div>
            <div data-ng-show="lastUafRequest" class="form-group clearfix">
                <label class="col-md-2 control-label" for="pendingRequestStatus">Last Request Status</label>

                <div class="col-md-6">
                    <input class="form-control" type="text" id="pendingRequestStatus" name="status" data-ng-model="lastUafRequest.status" data-ng-readonly="true">
                </div>
            </div>
            <div data-ng-show="lastUafRequest.status === 'PENDING'" class="form-group clearfix">
                <label class="col-md-2 control-label" for="pendingRequestValidity">Valid Until</label>

                <div class="col-md-6">
                    <input class="form-control" type="text" id="pendingRequestValidity" name="validUntil" data-ng-model="lastUafRequest.validUntil" data-ng-readonly="true">
                </div>
            </div>
        </fieldset>
        <!--         Add Security Key-->
        <fieldset class="border-top">
            <legend><span class="text">Add Security Key</span></legend>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="addSecurityKey">Add Security Key</label>

                <div class="col-md-6">
                    <button class="btn btn-default" type="submit" id="addSecurityKey" data-ng-click="addSecurityKey(auth.user, user, realm)">Add</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<kc-menu></kc-menu>